/* ============ FONTS ============ */



/* ============ GLOBAL PARAMS ============ */

:root {
    --body-and-logo-color: #f7e7ce;
    --container-margin: 5%;
    --border-red: 1px solid red;
}

/* ============ BLOCKS ============ */

.body {
    background: var(--body-and-logo-color);
    margin: 0;
}

.hero-section {
    position: relative;
    height: 100vh;
    background-image: url("mando.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header__logo {
    position: absolute;
    left: 2%;
    top: 2%;
}

.container {
    margin-left: var(--container-margin);
    margin-right: var(--container-margin);
}

.block {
    margin-bottom: 200px;
    border: var(--border-red);
}

.block__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5%;
}

.block__grid__image__element {
    width: 100%;
}

/* ============ Scroll ============ */

.horizontal-scroll-gallery {
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.horizontal-scroll-gallery::-webkit-scrollbar {
    display: none;
}

.gallery__track {
    display: flex;

    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;

    gap: 0.5%;
}

.scroll-button {
    --button-position: 10%;
    --button-size: 50px;

    position: absolute;

    background: rgba(0, 0, 0, 0.5);
    color: white;

    border: none;
    border-radius: 50%;

    width: var(--button-size);
    height: var(--button-size);

    cursor: pointer;

    z-index: 10;
}

/* ============ Photo ============ */

.block__grid__photo {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 0.5%;
}

.photo__grid {
    --photo-width: 30%;
    --gap: 1%;
    max-width: 100%;
    overflow: hidden;
}

.photo__grid__row {
    display: grid;
    grid-template-columns: repeat(3, var(--photo-width));
    gap: var(--gap);
    margin-bottom: var(--gap);
}

.photo__grid__row--offset {
    transform: translateX(calc(-0.5 * var(--photo-width) - 0.5 * var(--gap)));
}

.photo__grid__row:nth-child(3),
.photo__grid__row:nth-child(5) {
    grid-template-columns: repeat(2, var(--photo-width));
}

.photo__grid__row:nth-child(5) {
    grid-template-columns: var(--photo-width);
    margin-bottom: 0;
}

/* ============ ELEMENTS ============ */

.header__logo__element {
    font-size: 400%;
    border: 2px solid var(--body-and-logo-color);
    border-radius: 25px;
    padding: 20px;
    color: var(--body-and-logo-color);
    animation: header__logo__element 5s linear 0.5s infinite alternate forwards;
}

.car__image__animation {
    animation: car__image__animation 3s linear 0.5s infinite alternate forwards;
}

/* ============ Scroll ============ */

.gallery__track img {
    scroll-snap-align: start;
    width: 50%;
}

.scroll-button.left {
    left: var(--button-position);
}

.scroll-button.right {
    right: var(--button-position);
}

/* ============ Photo ============ */

.photo__grid__item {
    width: 100%;
    object-fit: cover;
    /* opacity: 1; */
    transition: opacity 0.5s transform 0.5s;
}

/* ============ ANIMATIONS ============ */

@keyframes car__image__animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes header__logo__element {
    0% {
        background: inherit;
        color: var(--body-and-logo-color);
        border: 2px solid var(--body-and-logo-color);
    }

    50% {
        background: var(--body-and-logo-color);
        color: inherit;
        border: 2px solid inherit;
    }

    100% {
        background: inherit;
        color: var(--body-and-logo-color);
        border: 2px solid var(--body-and-logo-color);
    }
}

/* ============ - ============ */
